In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("diem_thi_thpt_2022.csv")
df.head()

,sbd,toan,ngu_van,ngoai_ngu,vat_li,hoa_hoc,sinh_hoc,lich_su,dia_li,gdcd
0,1000001,3.6,5.00,4.0,NaN,NaN,NaN,2.75,6.0,8.75
1,1000002,8.4,6.75,7.6,NaN,NaN,NaN,8.50,7.5,8.25
2,1000003,5.8,7.50,5.0,NaN,NaN,NaN,7.25,5.5,8.75
3,1000004,7.4,7.50,8.6,NaN,NaN,NaN,7.50,6.5,7.50
4,1000005,7.2,8.50,9.0,NaN,NaN,NaN,8.00,8.5,8.25

In [19]:
with open("data.txt","r",encoding="utf-8") as f:
    d = [None]
    for i in f:
        it = i.strip().split("\t")
        d.append(it[1])
d

[None,
 'Sở GDĐT Hà Nội',
 'Sở GDĐT TP. Hồ Chí Minh',
 'Sở GDĐT Hải Phòng',
 'Sở GDĐT Đà Nẵng',
 'Sở GDĐT Hà Giang',
 'Sở GDĐT Cao Bằng',
 'Sở GDĐT Lai Châu',
 'Sở GDĐT Lào Cai',
 'Sở GDĐT Tuyên Quang',
 'Sở GDĐT Lạng Sơn',
 'Sở GDĐT Bắc Kạn',
 'Sở GDĐT Thái Nguyên',
 'Sở GDĐT Yên Bái',
 'Sở GDĐT Sơn La',
 'Sở GDĐT Phú Thọ',
 'Sở GDĐT Vĩnh Phúc',
 'Sở GDĐT Quảng Ninh',
 'Sở GDĐT Bắc Giang',
 'Sở GDĐT Bắc Ninh',
 'Meo',
 'Sở GDĐT Hải Dương',
 'Sở GDĐT Hưng Yên',
 'Sở GDĐT Hoà Bình',
 'Sở GDĐT Hà Nam',
 'Sở GDĐT Nam Định',
 'Sở GDĐT Thái Bình',
 'Sở GDĐT Ninh Bình',
 'Sở GDĐT Thanh Hoá',
 'Sở GDĐT Nghệ An',
 'Sở GDĐT Hà Tĩnh',
 'Sở GDĐT Quảng Bình',
 'Sở GDĐT Quảng Trị',
 'Sở GDĐT Thừa Thiên -Huế',
 'Sở GDĐT Quảng Nam',
 'Sở GDĐT Quảng Ngãi',
 'Sở GDĐT Kon Tum',
 'Sở GDĐT Bình Định',
 'Sở GDĐT Gia Lai',
 'Sở GDĐT Phú Yên',
 'Sở GDĐT Đắk Lắk',
 'Sở GDĐT Khánh Hoà',
 'Sở GDĐT Lâm Đồng',
 'Sở GDĐT Bình Phước',
 'Sở GDĐT Bình Dương',
 'Sở GDĐT Ninh Thuận',
 'Sở GDĐT Tây Ninh',
 'Sở GDĐT Bình Thuận',
 'Sở GDĐT Đồng Nai',
 'Sở GDĐT Long An',
 'Sở GDĐT Đồng Tháp',
 'Sở GDĐT An Giang',
 'Sở GDĐT Bà Rịa-Vũng Tàu',
 'Sở GDĐT Tiền Giang',
 'Sở GDĐT Kiên Giang',
 'Sở GDĐT Cần Thơ',
 'Sở GDĐT Bến Tre',
 'Sở GDĐT Vĩnh Long',
 'Sở GDĐT Trà Vinh',
 'Sở GDĐT Sóc Trăng',
 'Sở GD-KHCN Bạc Liêu',
 'Sở GDĐT Cà Mau',
 'Sở GDĐT Điện Biên',
 'Sở GDĐT Đăk Nông',
 'Sở GDĐT Hậu Giang']

In [23]:
df["hoi_dong"] = df["sbd"].apply(lambda x: d[int(f'{x:08n}'[:2])])
# print(len(d))

In [ ]:
df.to_csv("new.csv", index=False)